# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [33]:
f =pd.Series(np.random.randint(high=4,low=1,size=100))
s = pd.Series(np.random.randint(high=3,low=1,size=100))
t = pd.Series(np.random.randint(high=30000,low=10000,size=100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [42]:
df = pd.DataFrame(f)
df=pd.concat([df,s,t],axis='columns')

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [43]:
df = df.rename(columns={0:'bedrs',0:'bathrs',1:'price_sqr_meter'})

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [48]:
bigcolumn = pd.concat([f,s,t])
bigcolumn = pd.DataFrame(bigcolumn)

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [50]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [52]:
bigcolumn.reset_index(drop=True,inplace=True)
bigcolumn

         0
0        1
1        1
2        1
3        2
4        1
..     ...
295  27942
296  23675
297  20351
298  26974
299  17492

[300 rows x 1 columns]